.re{
    margin-top:100px;
    margin-left:30px;
    width:800px;
    height:400px;
    float:left;
}
#ch{
    margin-left: 30px;
    font-size: 80px;
}
#re{
    
    margin-top:50px;
    margin-left:100px;
    width:400px;
    height:300px;
    float:left;
}
.kumar{
   background-color: antiquewhite;
   background-size: 60%;
}
